body{
    margin: 0%;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}
.header {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    background-color: aqua;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    background-color: pink;
    align-items: center;
}
.header-nav p {
    margin: 0%;
}
.header-nav ul {
    display: flex;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}
.header-content {
    display: flex;
    background-color: pink;
}
.header-content-left {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}