body{
    margin: 0%;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}
.header {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    background-color: aqua;
    padding: 20px 300px 100px 300px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    background-color: pink;
    align-items: center;
}
.header-nav p {
    margin: 0%;
}
.header-nav ul {
    display: flex;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}
.header-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: pink;
}
.header-content-left {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    max-width: 300px;
}
.header-content-right img {
    max-width: 300px;
    height: auto;
}
.header-content-left h1, .header-content-left p {
    margin: 0%;
}
.header button {
    width: 100px;
    padding: 5px;
}